.more_container {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    margin: 60px auto;
}
.more_block {
    min-width: 270px;
    width: 24%;
    padding-bottom: 10px;
    border: #dfdfdf solid 1px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.main__more_info-container {
    padding: 15px 32px;
}
.more__title-2 {
    line-height: 1.7;
    text-align: left;
    padding: 10px 0;
}
.more__button {
    padding: 9px 10px 6px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}
.more_block__photo-container {
    display: block;
    max-width: 270px;
    height: 190px;
}
.more_block__photo-container_1 {
    background-image: url(../images/photo-1.png);
}
.more_block__photo-container_2 {
    background-image: url(../images/photo-2.png);
}
.more_block__photo-container_3 {
    background-image: url(../images/photo-3.png);
}
.more_block__photo-container_4 {
    background-image: url(../images/photo-4.png);
}
@media (min-width:412px) {
    .more_container {
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width:600px) {
    .more_container {
        flex-direction: row;
        width: 600px;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
@media (min-width:1024px) {
    .more_container {
        width: 1024px;
    }
    .more_block {
        min-width: 208px;
    }
}