.page {
    margin: auto;
    padding: 0 375px;
    padding-right: 360px;
    width: 1170px;
}

.top-line {
    background-color: #5c5c5c;
    height: 5px;
    display: block;
}

.title_first,
.subscribe-area__title {
    font-size: 30px;
    margin: 0;
    /* float: left; */
}

.active {
    background-color: #e24f43;
    color: #ffffff;
}

.button {
    text-decoration: none;
    color: #ffffff;
    background-color: #e24f43;
    display: inline-flex;
    border-radius: 2px;
    text-align: left;
}

.header__title,
.photo-footer__title {
    display: inline-block;
}

.breakline {
    background-color: #dfdfdf;
    height: 1px;
}