.footer {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.footer__block {
    width: 23%;
}

.socials {
    display: flex;
}

.social {
    display: flex;
    margin-right: 35px;
    width: 50%;
    align-items: center;
    text-decoration: none;
}

.social__image {
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    padding-right: 3px;
}

.social__image-1 {
    background-image: url(../images/icon-twitter.png);
}

.social__image-2 {
    background-image: url(../images/icon-facebook.png);
}

.social__title {
    display: inline-block;
}

.social__title:hover{
    cursor: pointer;
    color: #e24f43;
}

.footer__block_title-1 {
    margin-block-end: 10px;
}
a .footer__block_title-1{
margin: 10px;
}

@media(min-width:412px) and (max-width:768px) {
    .footer {
        width: 100%;
        flex-wrap: wrap;
    }
    .footer__block {
        width: 50%;
    }
    .social {
        align-items: center;
    }
    .social__title {
        padding-bottom: 0;
    }
}