.footer {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.footer__block {
    width: 23%;
}

.socials {
    display: flex;
}

.social {
    display: flex;
    margin-right: 35px;
    width: 50%;
    align-items: center;
    padding-top: 10px;
}

.social__image {

    padding-right: 3px;
}

.social__title {
    display: inline-block;

}

.footer__block_title-2 {
    padding-top: 10px;
}

.footer__block_title-1 {
    margin-block-end: 10px;
}

@media(min-width:412px) and (max-width:768px) {
    .footer {
        width: 100%;
        flex-wrap: wrap;
    }

    .footer__block {
        width: 50%;
    }

    .social {
        align-items: center;
    }

    .social__title {
        padding-bottom: 0;
    }
}