.header {
    padding: 30px 0;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}

.header__title-1_second {
    font-size: 12px;
    text-align: left;
    display: block;
}

.nav__item {
    display: inline-block;
    color: #ababab;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
}

.nav__item_active {
    padding: 19px;
    padding-left: 16px;
    padding-right: 24px;
    color: #ffffff;
}
@media (min-width:412px) and (max-width:767px){
    .header__nav{
        float: none;
    }
    .nav__item{
        padding: 10px 12px;
    }
    .header{
        flex-direction: column;
    }
}