.main-container {
    display: flex;
    align-content: flex-start;
    position: relative;
    width: 1170px;
    height: 304px;
    padding-top: 55px;
}
.icon-container_image-border {
    border-radius: 100%;
    border: #dfdfdf solid 2px;
    padding: 40px;
}

.icon-container {
    display: flex;
    margin-top: 55px;
}

.icon-container_title {
    padding: 10px 30px;
}

.icon-container_title-2 {
    padding-top: 10px;
}

.icon-container-1 {
    position: absolute;
    left: 0;
    top: 0;
}

.icon-container-2 {
    position: absolute;
    right: 0;
    top: 0;
}

.icon-container-3 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.icon-container-4 {
    position: absolute;
    right: 0;
    bottom: 0;
}
@media(min-width:412px) and (max-width:768px){
    .icon-container{
        display:flex;
        position: relative;
        align-items: center;
        margin-top: 40px;
    }
    .main-container{
        flex-direction: column;
        width:412px;
        height: 25%;
        padding-top:0;
    }
    .icon-container_image-border{
        width: 40px;
        height: 40px;
    }
}