.page {
    margin: auto;
    padding: 0 375px;
    padding-right: 360px;
    width: 1170px;
}

.title-1, .button {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    color: #5c5c5c;
    text-transform: uppercase;
    font-weight: 100;
    display: inline-block;
}

.title-2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #dbdbdb;
    font-weight: 100;
    text-transform: none;
    display: block;
    margin: 0;
}

/* .header__nav{display: inline;} */





/* .item__active {
    width: 70px;
    height: 56px;
    box-sizing: border-box;
    padding: 18px 25px 19px 17px;
} */



.more__button {
    padding: 9px 10px 6px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}

.subscribe-area__button {
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
}

/* done 16.32 */










/*  done 18.55 */



/*  done 19.15 */







/*  8.40 */



/* 21.15 */

.more_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.more_block {
    width: 270px;
    padding-bottom: 10px;
    border: #dfdfdf solid 1px;
    display: flex;
    flex-direction: column;
}

.more__photo {
    display: block;
    width: 100%;
}

.main__more_info-container {
    padding: 15px 32px;
}

.more__title-2 {
    line-height: 1.7;
    text-align: left;
    padding: 10px 0;
}
/* 22.10 */

.footer {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.footer__block {
    width: 23%;
}

.socials {
    display: flex;
}

.social {
    display: inline-block;
    margin-right: 35px;
}

.social__icon {
    display: inline-block;
    padding-right: 3px;
}

.social__title {
    display: inline-block;
}

.footer__block_title-2 {
    padding-top: 10px;
}

.footer__block_title-1 {
    margin-block-end: 10px;
}