.subscribe-area__wrapper {
    background-color: #5c5c5c;
    padding: 30px 25px;
    border-radius: 5px;
    display: flex;
    text-align: left;
    box-sizing: content-box;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
}
.subscribe-area {
    width: 100%;
    box-sizing: border-box;
    background-color: #5c5c5c;
}
.input-field {
    border: none;
    width: 320px;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px;
    color: #000000;
}
.subscribe-area__title {
    margin-right: 75px;
    color: #ffffff;
}
.subscribe-area__button {
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    border: none;
    text-decoration: none;
    max-width: 130px;
}
@media(min-width:412px) {
    .subscribe-area__wrapper {
        flex-direction: column;
        max-width: 340px;
    }
    .subscribe-area__button {
        margin-left: auto;
    }
    .subscribe-area__title {
        margin-right: auto;
    }
    .subscribe-area__input-field {
        margin: 10px auto 10px 0;
    }
}
@media (min-width: 750px) and (max-width:1023px) {
    .subscribe-area__wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 700px;
    }
    .subscribe-area__title,
    .subscribe-area__button {
        flex-basis: 100%;
    }
    .input-field {
        flex-basis: 48%;
        margin: 0;
    }
    .subscribe-area__input-field:first-of-type {
        margin-right: 20px;
    }
}
@media(min-width:1024px) {
    .subscribe-area__wrapper {
        justify-content: space-between;
        max-width: 1024px;
        flex-direction: row;
    }
    .subscribe-area__input-field {
        margin: 0;
    }
    .input-field {
        width: 285px;
    }
    .subscribe-area__button,
    .subscribe-area__title {
        margin: 0;
    }
}