.header-container {
    padding: 30px 0;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}
.nav-container {
    display: flex;
    align-items: center;
}
.nav-container__link {
    font-family: 'Fjalla One', sans-serif;
    display: inline-block;
    color: #ababab;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
    height: 40px;
    box-sizing: border-box;
}
.nav-container__link:hover {
    background-color: #e24f43;
    color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width:412px) and (max-width:767px) {
    .nav-container__link {
        padding: 10px 12px;
    }
    .header-container {
        flex-direction: column;
    }
}